@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    foreach (var student in Model)
    {
        <h4>@student.studentId</h4>
        <h5>@student.studentName</h5>
        <h5>@student.studentGender</h5>
        <p>****************************</p>
    }
}
