
@{
    ViewData["Title"] = "About";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}

<h1>About</h1>
<h1>This is About Us page..</h1>

@*TempData*@
<b>@ViewData["Data1"]</b>
<br />
<b>@ViewBag.Data2</b>
<br />
<b>@TempData["Data3"]</b>
<br />





